konlpy == 0.5.1
matplotlib==3.0.2
nbconvert==5.4.0
numpy==1.15.4
openpyxl==2.5.7
pandas==0.23.4
pylospacing==0.1
scikit-learn==0.22
scipy==1.1.0
python-dateutil==2.7.5
termcolor==1.1.0
tqdm==4.26.0
xgboost==0.82
pyspark==2.4.0
PyHive==0.6.1
